header {
   position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    z-index: 1000;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
header h1 {
    margin: 0;
    padding: 1px; /* vertical padding for spacing */
    font-size: 9vw; /* responsive font size */
}
@media (max-width: 600px) {
        font-size: 6vw; /* larger font size for smaller screens */
    }

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    margin-top: 220px;
    
}

a {
    color: rgb(239, 210, 106);
    text-decoration: none;
}

small {
    font-size: 1rem;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif
}
a:hover {
    color: rgb(233, 79, 13);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 0.5rem;
    z-index: 10;
}